@model Listing

    <h1>Create new listing:</h1>
    <form>
        <div class="form-group">
            <label asp-for="Name">Listing Name</label>
            <input asp-for="Name" type="text" class="form-control" id="input-name" placeholder="The Haunted House">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>