@model IEnumerable<WildStays.Models.Reservation>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/main.css' />
<link rel="stylesheet" href="~/css/site.css">
<style>
    #calendar {
        justify-self:center;
        width: 400px;
        height:300px;
        color: white;
        margin-left: 33%;
        border: 1px solid rgb(222,222,222,0.6);
        border-radius: 2%;
        margin-bottom: 40px;
        margin-top:-70px;
        background-color: rgb(222,222,222,0.2);
    }
</style>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const searchButton = document.getElementById("searchButton");
    const textInput = document.getElementById("search");
    var allEvents = []; 

    @foreach (var item in Model)
    {
        var endDate = item.EndDate.AddDays(1);
        <text>
        allEvents.push({
            title: 'Listing: @item.ListingId',
            start: '@item.StartDate.ToString("yyyy-MM-dd")',
            end: '@endDate.ToString("yyyy-MM-dd")',
            display: 'background',
            color: 'red',
            place: '@item.Place' 
        });
        </text>
    }
    var selectedDates = [];
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        fixedWeekCount: false, 
        timeFormat: 'H(:mm)', 
        displayEventTime: false,
        
dateClick: function(info) {
    var clickedDate = new Date(info.dateStr);
    var eventsOnDate = calendar.getEvents().filter(event => {
        var eventStart = new Date(event.start);
        var eventEnd = new Date(event.end);
        return clickedDate >= eventStart && clickedDate < eventEnd && event.backgroundColor === 'red';
    });

    if (eventsOnDate.length === 0) { // No red events on this date
        if (selectedDates.length < 2) {
            selectedDates.push(info.dateStr);
        } else {
            selectedDates = [info.dateStr];
        }
        alert('Selected Dates: ' + selectedDates.join(', '));
    } else {
        alert('This date already has a red event!');
    }
    }
    });

    calendar.render();

    searchButton.addEventListener('click', () => {
        var searchTerm = textInput.value; 

        calendar.removeAllEvents();

        var filteredEvents = allEvents.filter(event => event.place === searchTerm);

        filteredEvents.forEach(event => {
            calendar.addEvent(event);
        });

    });
});


</script>

@{
    ViewData["Title"] = "Home Page";
}

<div class="backgroundHome">
    <div class="background2">
    <div class="searchBar">
<select id="search" name="Search" style="margin-top: 60px; width: 270px; margin-bottom: -50px; border-radius: 15px; padding: 2px 5px; height: 30px; background-color: #f5f5f5; border: 1px solid #ccc;">
        <option value="">Select a Place</option>
        <option value="Oslo">Oslo</option>
        <option value="Bergen">Bergen</option>
        <option value="Trondheim">Trondheim</option>
    </select>
        <button id="searchButton">Search</button><br />
            </div>
    </div>
    <div id="calendar"></div>

    <div class="bilder">
    <div class="slide-container">
        <span class="slider-span" id="slider-span1"></span>
        <span class="slider-span" id="slider-span2"></span>
        <span class="slider-span" id="slider-span3"></span>
        <span class="slider-span" id="slider-span4"></span>
        <span class="slider-span" id="slider-span5"></span>

        <div class="image-slider">
            <div class="slides-div" id="slide-1">
                <img src="images/akerLeilighet.jpg" alt="" class="img" id="img1">
                <a href="#slider-span1" class="button" id="button-1"></a>
            </div>
            <div class="slides-div" id="slide-2">
                <img src="images/osloLeilighet.jpg" alt="" class="img" id="img2">
                <a href="#slider-span2" class="button" id="button-2"></a>
            </div>
            <div class="slides-div" id="slide-3">
                <img src="images/lørenskogLeilighet.jpg" alt="" class="img" id="img3">
                <a href="#slider-span3" class="button" id="button-3"></a>
            </div>
            <div class="slides-div" id="slide-4">
                <img src="images/stavangerLeilighet.jpg" alt="" class="img" id="img4">
                <a href="#slider-span4" class="button" id="button-4"></a>
            </div>
            <div class="slides-div" id="slide-5">
                <img src="images/trondheimLeilighet.jpg" alt="" class="img" id="img5">
                <a href="#slider-span5" class="button" id="button-5"></a>
            </div>
        </div>

    </div>
    </div>
    <br />
    <br />
</div>
