@model WildStays.Models.Reservation

@{
    ViewData["Title"] = "Reservation Booked";
}

<div class="d-flex justify-content-center w-100">
    <div class="flex-column text-center">
        <h1>Reservation booked!</h1>
        <p>Thanks for booking a reservation with WildStays, we hope you enjoy your stay</p>
        <form action="/" method="get">
            <button type="submit" class="btn buttonStyle w-50">Return to Home</button>
        </form>
    </div>
</div>


  